<head>
		<meta charset="utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" crossorigin="anonymous"></script>		
</head>
<h1> Home </h1>
<p>This is the {{ title }} page</p>
  <div>
    <form class="form-container1" id="message-input"> 
          <input type="text" name="username" class="form-control" id="nickname" placeholder="Username" required />
          <input type="text" name="password" class="form-control1" id="text" placeholder="Password" required />
      <button type="submit" id="register-btn" class="goHomeButton">Register</button>
      <button type="submit" id="login-btn" class="goHomeButton">Log In </button>

    </form>
</div>
 <form class="form-container1" id="message-input"> 
          <input type="text" name="username" class="form-control" id="nickname1" placeholder="Username" required />
          <input type="text" name="msg" class="form-control1" id="text1" placeholder="Message" required />
      <button type="submit" id="message-submit-btn" class="goHomeButton">Send</button>
  </form>

<script type="text/javascript">


document.getElementById("register-btn").addEventListener('click', (event) => {
  event.preventDefault()
  let username = document.getElementById("nickname").value
  let password = document.getElementById("text").value
  let data = { username, password}
  //fetch('/addUser', {method: 'POST', body: JSON.stringify(data),
  //headers: { 'Content-type': 'application/json' }})
  fetch('/signUp', {method: 'POST', body: JSON.stringify(data),
  headers: { 'Content-type': 'application/json' }})
})

document.getElementById("login-btn").addEventListener('click', (event) => {
  event.preventDefault()
  let username = document.getElementById("nickname").value
  let password = document.getElementById("text").value
  let data = { username, password}
  fetch('/login', {method: 'POST', body: JSON.stringify(data),
  headers: { 'Content-type': 'application/json' }})  .then(function(response) {
    if (response.status === 401) {
      console.log("wrong")
    }
  })
})



document.getElementById("message-submit-btn").addEventListener('click', (event) => {
  event.preventDefault()
  let message = document.getElementById("text1").value
  let username = document.getElementById("nickname1").value
  let time = moment(Date.now()).format('lll');
  console.log("message: ", message);
  console.log(time);
  let data = {username, message, time}
  fetch('/postNote', {method: 'POST', body: JSON.stringify(data),
  headers: { 'Content-type': 'application/json' }})
})

getMessages = () => {
      fetch('notes/json', {method: 'GET'})
      .then(res => res.json())
      .then(data => {
        // do something with data
        console.log(data)
      })
      .catch(err => {
        // error catching
        console.log(err)
      })
    
  }

  getMessages()




</script>
